{% extends "base.html" %}

{% block head%}
<title>Personality Analysis</title>
{% endblock%}

{% block body %}
<div class="questions">
    <h1>Personality Trait Analysis</h1>
    <form method="POST">
        <label for="trait-film-ranking-trait">Choose trait to analyse:</label>
        <select id="trait-film-ranking-trait" name="trait_film_ranking_trait">
            {% for trait in data['traits'] %}
            <option value="{{ loop.index - 1 }}">{{ trait }}</option>
            {% endfor %}
        </select>
        <label for="trait-film-ranking-highest">View movies with highest or lowest ratings:</label>
        <select id="trait-film-ranking-highest" name="trait_film_ranking_highest">
            <option value=1>highest</option>
            <option value=0>lowest</option>
        </select>
        <input type="submit">
    </form>
    <form method="POST">
        <label for="trait-film-ratings-trait">Choose trait to analyse:</label>
        <select id="trait-film-ratings-trait" name="trait_film_ratings_trait">
            {% for trait in data['traits'] %}
            <option value="{{ loop.index - 1 }}">{{ trait }}</option>
            {% endfor %}
        </select>
        <label for="trait-film-ratings-trait">View average ratings given by users:</label>
        <input id="trait-film-ratings-trait" type="submit">
    </form>
    <form method="POST">
        <label for="trait-genre-ranking-trait">Choose trait to analyse:</label>
        <select id="trait-genre-ranking-trait" name="trait_genre_ranking_trait">
            {% for trait in data['traits'] %}
            <option value="{{ loop.index - 1 }}">{{ trait }}</option>
            {% endfor %}
        </select>
        <label for="trait-genre-ranking-highest">View genres with highest or lowest ratings:</label>
        <select id="trait-genre-ranking-highest" name="trait_genre_ranking_highest">
            <option value=1>highest</option>
            <option value=0>lowest</option>
        </select>
        <input type="submit">
    </form>
    <form method="POST">
        <label for="genre-traits-ranking-genre">Choose genre to view summary:</label>
        <select id="genre-traits-ranking-genre" name="genre_traits_ranking_genre">
            {% for genre in data['genres'] %}
            <option value="{{ loop.index }}">{{ genre }}</option>
            {% endfor %}
        </select>
        <label for="genre-traits-ranking-highest">View traits who give highest or lowest ratings:</label>
        <select id="genre-traits-ranking-highest" name="genre_traits_ranking_highest">
            <option value=1>highest</option>
            <option value=0>lowest</option>
        </select>
        <input type="submit">
    </form>
    <form method="POST">
        <label for="genre-trait-range-trait">Choose trait to analyse:</label>
        <select id="genre-trait-range-trait" name="genre_trait_range_trait">
            {% for trait in data['traits'] %}
            <option value="{{ loop.index - 1 }}">{{ trait }}</option>
            {% endfor %}
        </select>
        <label for="genre-trait-range-genre">Choose genre to analyse:</label>
        <select id="genre-trait-range-genre" name="genre_trait_range_genre">
            {% for genre in data['genres'] %}
            <option value="{{ loop.index }}">{{ genre }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>
    <form method="POST">
        <label for="all-film-trait-range-trait">Choose trait to analyse:</label>
        <select id="all-film-trait-range-trait" name="all_film_trait_range_trait">
            {% for trait in data['traits'] %}
            <option value="{{ loop.index - 1 }}">{{ trait }}</option>
            {% endfor %}
        </select>
        <label for="all-film-trait-range-trait">View average ratings given by users (varying degrees):</label>
        <input id="all-film-trait-range-trait" type="submit">
    </form>
</div>
<div class="results">
    {% if data['trait_film_ranking'] %}
    <h3>Analysing personality trait: {{ data['trait_film_ranking_data'].trait }} 
                                   | {{ data['trait_film_ranking_data'].highest }} rated films</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Ratings</th>
        </tr>
        {% for movie in data['trait_film_ranking'] %}
        <tr>
            <td>{{ movie.title }}</td>
            <td>{{ movie.ratings }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if data['trait_film_ratings'] %}
    <h3>Analysing personality trait: {{ data['trait_film_ratings_data'].trait }}</h2>
    <img src="data:image/png;base64,{{ data['trait_film_ratings'] }}" />
    {% endif %}
    {% if data['trait_genre_ranking'] %}
    <h3>Analysing personality trait: {{ data['trait_genre_ranking_data'].trait }} 
                                   | {{ data['trait_genre_ranking_data'].highest }} rated genres</h2>
    <table>
        <tr>
            <th>Genre</th>
            <th>Ratings</th>
        </tr>
        {% for gen in data['trait_genre_ranking'] %}
        <tr>
            <td>{{ gen.genre }}</td>
            <td>{{ gen.avg }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if data['genre_traits_ranking'] %}
    <h3>Analysing personality trait for genre: {{ data['genre_traits_ranking_data'].genre }} 
                                             | {{ data['genre_traits_ranking_data'].highest }} personality average ratings</h2>
    <table>
        <tr>
            <th>Personality</th>
            <th>Ratings</th>
        </tr>
        {% for p in data['genre_traits_ranking'] %}
        <tr>
            <td>{{ p.trait }}</td>
            <td>{{ p.avg }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if data['film_traits_ranking'] %}
    <h3>Analysing personality trait for film: {{ data['film_traits_ranking_data'].title }}</h2>
    <table>
        <tr>
            <th>Personality</th>
            <th>Ratings</th>
        </tr>
        {% for p in data['film_traits_ranking'] %}
        <tr>
            <td>{{ p.trait }}</td>
            <td>{{ p.avg }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if data['genre_trait_range'] %}
    <h3>Analysing personality trait: {{ data['genre_trait_range_data'].trait }} | Analysing genre: {{ data['genre_trait_range_data'].genre }}</h2>
    <table>
        <tr>
            <th>Range</th>
            <th>Ratings</th>
        </tr>
        {% for p in data['genre_trait_range'] %}
        <tr>
            <td>{{ p.range }}</td>
            <td>{{ p.avg }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if data['all_film_trait_range'] %}
    <h3>Analysing personality trait: {{ data['all_film_trait_range_data'].trait }}</h2>
    <table>
        <tr>
            <th>Range</th>
            <th>Ratings</th>
        </tr>
        {% for p in data['all_film_trait_range'] %}
        <tr>
            <td>{{ p.range }}</td>
            <td>{{ p.avg }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
<script>

</script>
{%endblock%}
