<!DOCTYPE html>
<html>

<head>
    <title>Tag Analysis</title>
    <style>
        .center {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>

<body>
    <div class="center">
        <h1>Tag Analysis</h1>
        <form method="POST">
            <label for="analyse-by">Analyse tags by:</label>
            <select id="analyse-by" name="analyse-by">
                <option value="genre">Genre</option>
                <option value="rating">Rating</option>
            </select>
            <br><br>
            <label id="select-label" for="analyse-options">Genre:</label>
            <select id="analyse-options" name="analyse-options"></select>
            <br><br>
            <input type="submit" value="Analyse">
        </form>

        {% if chart %}
        <img src="{{ chart }}">
        {% endif %}
    </div>
    <script>
        var analyseBySelect = document.getElementById("analyse-by");
        var analyseOptionsSelect = document.getElementById("analyse-options");
        var selectLabel = document.getElementById("select-label");
        var genres = JSON.parse('{{ genres|tojson }}');
        analyseBySelect.addEventListener("change", function () {
            analyseOptionsSelect.innerHTML = "";
            if (analyseBySelect.value === "genre") {

                selectLabel.innerHTML = "Genre:";
                for (var i = 0; i < genres.length; i++) {
                    var option = document.createElement("option");
                    option.value = genres[i];
                    option.text = genres[i];
                    analyseOptionsSelect.appendChild(option);
                }
            } else if (analyseBySelect.value === "rating") {
                selectLabel.innerHTML = "Rating:";
                for (var i = 1; i <= 5; i++) {
                    var option = document.createElement("option");
                    option.value = i;
                    option.text = i;
                    analyseOptionsSelect.appendChild(option);
                }
            }
        });

        analyseBySelect.dispatchEvent(new Event("change"));
    </script>
</body>

</html>